@{
  Layout = "_Layout";
}

@model IEnumerable<ToDoList.Models.Item>

<div class="container">
    <div class="page-box">
        <h2 class="fancy-shadow page-header">List</h2>
        @Html.ActionLink("Add Item", "Create", "Items", null, new { @class="btn btn-lg btn-info" })
        <div class="grid-container">
            @foreach(var listItem in Model)
            {
                <div class="grid-item">@Html.DisplayFor(modelItem => listItem.Description)</div>
                <div class="grid-item">@Html.DisplayFor(modelItem => listItem.Category.Name)</div>
                <div class="grid-item">@Html.ActionLink("Details", "Details", new { id = listItem.ItemId })</div>
                <div class="grid-item">@Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId })</div>
                <div class="grid-item">
                    @using (Html.BeginForm("delete", "items", new { id = listItem.ItemId }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="no-btn-styles"/>
                    }
                </div>
            }
        </div>
    </div>
</div>